! Nicer colours
URxvt.color0:   #000000
URxvt.color1:   #BB0000
URxvt.color2:   #00BB00
URxvt.color3:   #BBBB00
URxvt.color4:   #0000BB
URxvt.color5:   #BB00BB
URxvt.color6:   #00BBBB
URxvt.color7:   #BBBBBB
URxvt.color8:   #555555
URxvt.color9:   #FF5555
URxvt.color10:  #55FF55
URxvt.color11:  #FFFF55
URxvt.color12:  #5555FF
URxvt.color13:  #FF55FF
URxvt.color14:  #55FFFF
URxvt.color15:  #FFFFFF

! Partial transparency for a dark on light terminal
URxvt.background: #FFFFFF
URxvt.foreground: #000000
URxvt.inheritPixmap: True
URxvt.tintColor: #000000
URxvt.shading: 190

! Partial transparency for a light on dark terminal
!URxvt.background: #000000
!URxvt.foreground: #BBBBBB
!URxvt.inheritPixmap: True
!URxvt.tintColor: #FFFFFF
!URxvt.shading: 10


! This option sets the TERM environment variable to xterm
URxvt.termName: xterm

! Make the keys behave like the xterm terminfo says they should
URxvt.keysym.Home: \033OH
URxvt.keysym.End: \033OF
URxvt.backspacekey: \177
URxvt.deletekey: \033[3~

! Scrollback buffer
URxvt.saveLines: 8192

! Put the scrollbar on the right
URxvt.scrollBar_right: true

! Tab characters don't turn into spaces
URxvt.pasteableTabs: true

! Fonts
!URxvt.font: 9x15
!URxvt.font: fixed
URxvt.font: xft:Luxi Mono:pixelsize=14:autohint:antialias=true
URxvt.boldFont: xft:Luxi Mono:pixelsize=14:autohint:antialias=true
URxvt.italicFont: xft:Luxi Mono:pixelsize=14:autohint:antialias=true
URxvt.boldItalicFont: xft:Luxi Mono:pixelsize=14:autohint:antialias=true

! Double-click selections
URxvt.cutchars: `"'&()*,;<=>?@[]{|}:$


